version: "3.8"

services:
 mongodb:
  image: mongo:4.4
  container_name: mongodb
  restart: always
  ports:
    - "27017:27017"
  environment:
    MONGO_INITDB_ROOT_USERNAME: admin
    MONGO_INITDB_ROOT_PASSWORD: password123
  volumes:
    - mongodb_data:/data/db
  networks:
    - mean-network
  command: mongod --auth


  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    ports:
      - "8080:8080" # matches server.js
    environment:
      - MONGODB_URI=mongodb://admin:password123@mongodb:27017/meandb?authSource=admin
      - PORT=5000
      - NODE_ENV=production
    depends_on:
      - mongodb
    networks:
      - mean-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - mean-network

volumes:
  mongodb_data:

networks:
  mean-network:
    driver: bridge
